        /* Basic styling for layout */
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f9;
            color: #333;
        }

        .Secondary_NavBar {
            margin: 20px;
            padding: 20px;
            background-color: #5c27274b;
            border-radius: 5px;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
        }

        .access_btn img{
            position: Fixed;
            top: 1rem;
            right: 1rem;
            width: 5%;
            /* transition: 3s ease-in; */
        }

        .a_fly_btn img{
            position: Fixed;
            bottom: 1rem;
            left: 1rem;
            width: 5%;
        }

        .access_btn img:hover{
            cursor: pointer;
            transform: rotate(10deg );
        }

        .a_fly_btn img:hover{
            cursor: pointer;
            transform: rotate(30deg );
            scale: 1.5;

        }

        /* .a_fly_btn img::after{
            content: "";           
            width: 1000px;
            height: 1000px;
            position: absolute;
            
            background-color: green;
        } */

        /* Keyframe animation for spinning and moving horizontally */
        @keyframes spin-and-move {
            0% {
            transform: translateY(-10%) rotate(0deg); /* Start with no rotation */
            left: 0;
            }

            100% {
            transform: translateY(-10%) rotate(360deg); /* Full rotation */
            left: 100%; /* Move the image to the far right */
            }
        }

        /* ##################################### */


        header {
            background-color: #333;
            color: white;
            padding: 20px 0;
            text-align: center;
        }

        header h1 {
            margin: 0;
            font-size: 2.5em;
        }

        header nav {
            margin-top: 10px;
        }

        header nav a {
            color: white;
            margin: 0 15px;
            text-decoration: none;
            font-size: 1.2em;
        }

        header nav a:hover {
            text-decoration: underline;
        }

        .section {
            padding: 50px 20px;
            text-align: center;
        }

        .Secondary_NavBar {
            position: sticky;
            top: 0px;
        }


        footer {
            background-color: #333;
            color: white;
            padding: 20px;
            text-align: center;
        }

        footer a {
            color: #ddd;
            text-decoration: none;
        }

        footer a:hover {
            color: #fff;
        }